// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #7F95D1;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #6D9C85;
$gray: #0E0000;
$light-gray: #F8F2EF;
$white: white;
$pink: #F38A7C;
