<div class="container">
<div class="row">
  <div class="col">

    <h1>New booking</h1>

      <p>Do you want to book <%= @character[:name] %> ?</p>
      <%= render "form", booking: @booking, character: @character %>

    </div>
  </div>
</div>
