<div class="col-4 mx-auto">

  <% if @character.user == current_user %>
    <h1 class="my-5">Edit your character</h1>
  <% else %>
    <h1 class="my-5">Book your character</h1>
  <% end %>

  <%= render 'form', character: @character %>

</div>
