<div class="col-4 mx-auto">
  <%= link_to 'Delete', character_path(@character),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%= render 'form', character: @character %>
</div>
