<h1>Who do you feel like today?</h1>
<div>
  <ul>
    <% @characters.each do |character| %>
      <li>
        <%= link_to "#{character.name} - #{character.location} - #{character.price}$", character_path(character) %>
      </li>
    <% end %>
  </ul>
</div>
