<div class="container">
  <div class="row">
    <div class="col">

      <h1>Add a new hero</h1>
        <div>
          <%= render "form", character: @character %>
        </div>

    </div>
  </div>
</div>
