.btn-ghost {
  color: $white;
  background-color: $blue;
  border: 1px solid $blue;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: light;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 0.8;
}

.btn-light {
  color: $gray;
  background-color: $white;
  border: 1px solid $gray;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: light;
  transition: opacity 0.3s ease;
}

.btn-light:hover {
  opacity: 0.8;
}

.btn-large {
  color: $white;
  background-color: $blue;
  border: 1px solid $blue;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: light;
  width: 700px;
  transition: opacity 0.3s ease;
}

.btn-large:hover {
  opacity: 0.8;
}
