.btn-ghost {
  color: $white;
  background-color: $green;
  border: 1px solid $green;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: light;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 0.8;
}
