.btn-ghost {
  color: $white;
  background-color: $blue;
  border: 1px solid $blue;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: light;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 0.8;
  background-color: $blue;
}

.btn-light {
  color: $gray;
  background-color: $white;
  border: 1px solid $gray;
  padding: 5px;
  border-radius: 5px;
  font-weight: light;
  transition: opacity 0.3s ease;
}

.btn-light:hover {
  opacity: 0.8;
}

.btn-large {
  color: $white;
  background-color: $blue;
  border: 1px solid $blue;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: light;
  width: 700px;
  transition: opacity 0.3s ease;
}

.btn-large:hover {
  opacity: 0.8;
  background-color: $blue;
}

.btn-accept,
.btn-decline {
  color: $white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: light;
  transition: opacity 0.3s ease;
  margin: 0 10px;
}

.btn-accept {
  background-color: green;
  border: 1px solid green;
}

.btn-accept:hover {
  opacity: 0.8;
}

.btn-decline {
  background-color: red;
  border: 1px solid red;
}

.btn-decline:hover {
  opacity: 0.8;
}
