.mapboxgl-popup {
  max-width: 200px;
}

.mapboxlabel {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 15px;
  height: 53px;
  max-width: 200px;
  text-wrap: wrap;
}

a{
  text-decoration: none;
  color: black;
}
