.navbar-lewagon {
  justify-content: space-between;
  background: hsla(7, 83%, 72%, 1);
  background: linear-gradient(
    90deg,
    hsla(7, 83%, 72%, 1) 0%,
    hsla(224, 47%, 66%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(7, 83%, 72%, 1) 0%,
    hsla(224, 47%, 66%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(7, 83%, 72%, 1) 0%,
    hsla(224, 47%, 66%, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f38a7c", endColorstr="#7f95d1", GradientType=1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
